src/Restbucks.Service/Meta/Schemas/dap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.restbucks.net/dap" elementFormDefault="qualified" targetNamespace="http://schemas.restbucks.net/dap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Link">
    <xs:attribute name="rel" type="xs:string" />
    <xs:attribute name="uri" type="xs:string" />
    <xs:attribute name="mediaType" type="xs:string" />
  </xs:complexType>
</xs:schema>